# Intro

In [3]:
import pandas as pd
import numpy as np
import requests
from concurrent.futures import ThreadPoolExecutor, as_completed
import time

#pip install gradio_client

In [4]:
#import csv filee interactions_train.csv
interactions = pd.read_csv('kaggle_data/interactions_train.csv')
items = pd.read_csv('kaggle_data/items.csv')

display(interactions.head())
display(items.head())

      u      i             t
0  4456   8581  1.687541e+09
1   142   1964  1.679585e+09
2   362   3705  1.706872e+09
3  1809  11317  1.673533e+09
4  4384   1323  1.681402e+09

,Title,Author,ISBN Valid,Publisher,Subjects,i
0,Classification décimale universelle : édition ...,NaN,9782871303336; 2871303339,Ed du CEFAL,Classification décimale universelle; Indexatio...,0
1,Les interactions dans l'enseignement des langu...,"Cicurel, Francine, 1947-",9782278058327; 2278058320,Didier,didactique--langue étrangère - enseignement; d...,1
2,Histoire de vie et recherche biographique : pe...,NaN,2343190194; 9782343190198,L'Harmattan,Histoires de vie en sociologie; Sciences socia...,2
3,Ce livre devrait me permettre de résoudre le c...,"Mazas, Sylvain, 1980-",9782365350020; 236535002X; 9782365350488; 2365...,Vraoum!,Moyen-Orient; Bandes dessinées autobiographiqu...,3
4,Les années glorieuses : roman /,"Lemaitre, Pierre, 1951-",9782702180815; 2702180817; 9782702183618; 2702...,Calmann-Lévy,France--1945-1975; Roman historique; Roman fra...,4

# Understand the data

In [3]:
#count the number of elements in each column
count_elements = items.count()
count_elements

Title         15291
Author        12638
ISBN Valid    14568
Publisher     15266
Subjects      13068
i             15291
dtype: int64

In [4]:
# How many books did people read?
books_per_user = interactions.groupby('u')['i'].count()

summary_stats = books_per_user.describe()
print(summary_stats)

count    7838.000000
mean       11.105767
std        16.441875
min         3.000000
25%         3.000000
50%         6.000000
75%        11.000000
max       385.000000
Name: i, dtype: float64

In [5]:
#number of unique users
unique_users = interactions['u'].nunique()
print(f"Number of unique users: {unique_users}")

Number of unique users: 7838

In [6]:
#missing values for items
missing_values = items.isnull().sum()
missing_values

Title            0
Author        2653
ISBN Valid     723
Publisher       25
Subjects      2223
i                0
dtype: int64

# Train Test Split

In [7]:
interactions = interactions.sort_values(["u", "t"])

interactions["pct_rank"] = interactions.groupby("u")["t"].rank(pct=True, method='dense')
interactions.reset_index(inplace=True, drop=True)

train_data = interactions[interactions["pct_rank"] < 0.9]
test_data = interactions[interactions["pct_rank"] >= 0.9]


print("Training set size:", train_data.shape[0])
print("Testing set size:", test_data.shape[0])

Training set size: 73892
Testing set size: 13155

# 1. Collaborative Filtering
    Recommendations based on user-item interactions.

In [8]:
# Create a user-item interaction matrix with binary values (1 if read, 0 otherwise)
binary_interaction_matrix = train_data.pivot_table(index='u', columns='i', values='t', aggfunc='count')
binary_interaction_matrix = binary_interaction_matrix.notnull().astype(int)

binary_interaction_matrix

i,0,1,2,3,4,5,6,7,8,9,...,15279,15280,15282,15283,15284,15285,15287,15288,15289,15290
u,,,,,,,,,,,,,,,,,,,,,
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Compute Cosine Similarity Between Users
from sklearn.metrics.pairwise import cosine_similarity
user_similarity = cosine_similarity(binary_interaction_matrix)
user_similarity_df = pd.DataFrame(user_similarity, index=binary_interaction_matrix.index, columns=binary_interaction_matrix.index)
user_similarity_df

u,0,1,2,3,4,5,6,7,8,9,...,7828,7829,7830,7831,7832,7833,7834,7835,7836,7837
u,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.0,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.0,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.101015
3,0.0,0.0,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7833,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000000
7834,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.000000
7835,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000
7836,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000
7837,0.0,0.0,0.101015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000

In [11]:
k = 10

# 1. user-item scores for every user in one shot
scores = user_similarity_df.values @ binary_interaction_matrix.values        # (U, I)

# 2. indices of each user’s k best-scoring items (unsorted)
top_idx_unsorted = np.argpartition(-scores, k-1, axis=1)[:, :k]              # (U, k)

# 3. sort those k items per user so they’re really rank-ordered
rows   = np.arange(scores.shape[0])[:, None]                                  # (U, 1)
order  = np.argsort(-scores[rows, top_idx_unsorted], axis=1)
top_idx = top_idx_unsorted[rows, order]                                       # (U, k) sorted

# 4. look up the *labels* with NumPy → 2-D array → DataFrame
item_labels = binary_interaction_matrix.columns.to_numpy()                    # (I,)
top_labels  = item_labels[top_idx]                                            # (U, k)

recommendations = pd.DataFrame(
    top_labels,                              # the items
    index=binary_interaction_matrix.index,   # the users
    columns=range(k)                         # rank 0…9
)

# quick peek
print(recommendations.head())

     0    1    2    3    4    5    6    7    8    9
u
0   13    4   12   15    8   14   11   10    5   17
1   38   34   31   30   37   29   32   33   36   35
2   46   58   53   49   56   64   91   82   71   45
3  149  163  128  143  133  138   40  155  142  156
4  202  203  198  191  193  201  195  197  205  196

In [12]:
# Convert each row of recommendations to a space-separated string
recommendations_str = recommendations.apply(lambda row: ' '.join(row.astype(str)), axis=1)

# Export to CSV with a single-column header
recommendations_str.to_csv('recommendations.csv', index=True, header=['recommendation'])

# Better predictions

In [13]:
from sklearn.decomposition import TruncatedSVD

# Apply TruncatedSVD to reduce dimensionality
svd = TruncatedSVD(n_components=50, random_state=42)
user_factors = svd.fit_transform(binary_interaction_matrix.values)
item_factors = svd.components_

# Reconstruct approximate interaction scores
approx_scores = user_factors @ item_factors

# Convert reconstructed scores into a DataFrame (same indexes and columns as original)
approx_scores_df = pd.DataFrame(approx_scores, index=binary_interaction_matrix.index, columns=binary_interaction_matrix.columns)

# Get top 10 items for each user
k = 10
recommendations_svd = approx_scores_df.apply(lambda row: row.nlargest(k).index.tolist(), axis=1)
recommendations_svd.head()

u
0    [611, 46, 4, 8999, 794, 3407, 3811, 685, 13, 2...
1    [611, 789, 4220, 5140, 2959, 769, 796, 176, 33...
2    [46, 323, 56, 2130, 5748, 3055, 66, 8999, 70, 64]
3    [163, 149, 618, 611, 128, 466, 119, 4, 2614, 143]
4    [424, 323, 201, 2225, 428, 423, 976, 422, 324,...
dtype: object

# Generate BERT Embeddings Locally

In [ ]:
# pip install transformers
# pip install torch torchvision torchaudio
# pip install "numpy<2"

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://ivan_ushakov%40mckinsey.com:****@mckinsey.jfrog.io/artifactory/api/pypi/python/simple
Collecting transformers
  Downloading https://mckinsey.jfrog.io/artifactory/api/pypi/python/packages/packages/a9/b6/5257d04ae327b44db31f15cce39e6020cc986333c715660b1315a9724d82/transformers-4.51.3-py3-none-any.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 2.7 MB/s eta 0:00:01
Collecting regex!=2019.12.17
  Downloading https://mckinsey.jfrog.io/artifactory/api/pypi/python/packages/packages/3c/8b/45c24ab7a51a1658441b961b86209c43e6bb9d39caf1e63f46ce6ea03bc7/regex-2024.11.6-cp39-cp39-macosx_10_9_x86_64.whl (287 kB)
     |████████████████████████████████| 287 kB 864 kB/s eta 0:00:01
Requirement already satisfied: packaging>=20.0 in /Users/ushakov/Library/Python/3.9/lib/python/site-packages (from transformers) (24.2)
Collecting filelock
  Downloading https://mckinsey.jfrog.io/artifactory/api/pypi/python/packages/packages/4d/36/2a115987e2d8c300a974597416d9de88f2444426de9571f4b59b2cca3acc/filelock-3.18.0-py3-none-any.whl (16 kB)
Collecting huggingface-hub<1.0,>=0.30.0
  Downloading https://mckinsey.jfrog.io/artifactory/api/pypi/python/packages/packages/3a/bf/6002da17ec1c7a47bedeb216812929665927c70b6e7500b3c7bf36f01bdd/huggingface_hub-0.31.1-py3-none-any.whl (484 kB)
     |████████████████████████████████| 484 kB 14.2 MB/s eta 0:00:01
Collecting safetensors>=0.4.3
  Downloading https://mckinsey.jfrog.io/artifactory/api/pypi/python/packages/packages/18/ae/88f6c49dbd0cc4da0e08610019a3c78a7d390879a919411a410a1876d03a/safetensors-0.5.3-cp38-abi3-macosx_10_12_x86_64.whl (436 kB)
     |████████████████████████████████| 436 kB 1.2 MB/s eta 0:00:01
Collecting tokenizers<0.22,>=0.21
  Downloading https://mckinsey.jfrog.io/artifactory/api/pypi/python/packages/packages/a5/1f/328aee25f9115bf04262e8b4e5a2050b7b7cf44b59c74e982db7270c7f30/tokenizers-0.21.1-cp39-abi3-macosx_10_12_x86_64.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 571 kB/s eta 0:00:01
Collecting tqdm>=4.27
  Downloading https://mckinsey.jfrog.io/artifactory/api/pypi/python/tqdm-4.67.1-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 724 kB/s eta 0:00:011
Collecting pyyaml>=5.1
  Downloading https://mckinsey.jfrog.io/artifactory/api/pypi/python/packages/packages/65/d8/b7a1db13636d7fb7d4ff431593c510c8b8fca920ade06ca8ef20015493c5/PyYAML-6.0.2-cp39-cp39-macosx_10_9_x86_64.whl (184 kB)
     |████████████████████████████████| 184 kB 488 kB/s eta 0:00:01
Requirement already satisfied: requests in /Users/ushakov/Library/Python/3.9/lib/python/site-packages (from transformers) (2.32.3)
Requirement already satisfied: numpy>=1.17 in /Users/ushakov/Library/Python/3.9/lib/python/site-packages (from transformers) (2.0.2)
Collecting fsspec>=2023.5.0
  Downloading https://mckinsey.jfrog.io/artifactory/api/pypi/python/packages/packages/44/4b/e0cfc1a6f17e990f3e64b7d941ddc4acdc7b19d6edd51abf495f32b1a9e4/fsspec-2025.3.2-py3-none-any.whl (194 kB)
     |████████████████████████████████| 194 kB 756 kB/s eta 0:00:01
Collecting hf-xet<2.0.0,>=1.1.0
  Downloading https://mckinsey.jfrog.io/artifactory/api/pypi/python/packages/packages/dc/fd/0db331297e331f0f02005fd7ea666439bf15efd74f0dd62af02a43236a1b/hf_xet-1.1.0-cp37-abi3-macosx_10_12_x86_64.whl (5.1 MB)
     |████████████████████████████████| 5.1 MB 889 kB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/ushakov/Library/Python/3.9/lib/python/site-packages (from huggingface-hub<1.0,>=0.30.0->transformers) (4.12.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/ushakov/Library/Python/3.9/lib/python/site-packages (from requests->transformers) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ushakov/Library/Python/3.9/lib/python/site-packages (from requests->transformers) (2025.1.31)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/ushakov/Library/Python/3.9/lib/python/site-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/ushakov/Library/Python/3.9/lib/python/site-packages (from requests->transformers) (3.4.1)
Installing collected packages: tqdm, pyyaml, hf-xet, fsspec, filelock, huggingface-hub, tokenizers, safetensors, regex, transformers
Successfully installed filelock-3.18.0 fsspec-2025.3.2 hf-xet-1.1.0 huggingface-hub-0.31.1 pyyaml-6.0.2 regex-2024.11.6 safetensors-0.5.3 tokenizers-0.21.1 tqdm-4.67.1 transformers-4.51.3
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Load the pre-trained model and tokenizer
from transformers import BertTokenizer, BertModel
import torch

tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

/Users/ushakov/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
/Users/ushakov/Library/Python/3.9/lib/python/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [10]:
# Generate embeddings for a given text
def generate_embeddings(text):
    if text is None or text == "" or pd.isna(text):
        return np.zeros((768,))
    inputs = tokenizer(text, return_tensors='pt', truncation=True, padding=True, max_length=128)
    outputs = model(**inputs)
    embeddings = outputs.last_hidden_state.mean(dim=1).squeeze().detach().numpy()
    return embeddings

In [ ]:
# Apply this function to the Title and Subjects columns
items['Title_Embeddings'] = items['Title'].apply(generate_embeddings)
items['Subjects_Embeddings'] = items['Subjects'].apply(generate_embeddings)

In [12]:
# Save the DataFrame with embeddings to a CSV file for later use
items.to_csv('items_with_embeddings.csv', index=False)